body {
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container {
    margin-right: 15px;
}

.btn{
    height: 120px;
    width: 120px;
    background-color: aqua;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 20px;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.blue{
    background-color: #819ff9;
}

.flash{
    background-color: #fff;
}

.userFlash{
    background-color: green;
}

.wrongFlash {
    background-color: red;
}